{
  "root": true,
  "parser": "babel-eslint",
  "plugins": ["react", "mocha", "json"],
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": ["warn", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
    "import/extensions": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}
