{
  "root": true,
  "parser": "babel-eslint",
  "plugins": ["react", "mocha", "json"],
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": ["warn", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
    "import/extensions": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-named-as-default": "off",
    },
    "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "globals": {
    "expect": true,
    "React": true,
    "it": true,
    "describe": true,
    "window": true,
    "localStorage": true,
    "apigClientFactory": true, 
    "document": true, 
    "AWS": true
  }
}
