@import url("//fonts.googleapis.com/css?family=Roboto:300,400,700");

@font-face {
    font-family: 'victorious';
    src:url('//d36dd6wez3mcdh.cloudfront.net/_static/fonts/victorious/victorious.eot?-er7c3m');
    src:url('//d36dd6wez3mcdh.cloudfront.net/_static/fonts/victorious/victorious.eot?#iefix-er7c3m') format('embedded-opentype'),
        url('//d36dd6wez3mcdh.cloudfront.net/_static/fonts/victorious/victorious.woff2?-er7c3m') format('woff2'),
        url('//d36dd6wez3mcdh.cloudfront.net/_static/fonts/victorious/victorious.ttf?-er7c3m') format('truetype'),
        url('//d36dd6wez3mcdh.cloudfront.net/_static/fonts/victorious/victorious.woff?-er7c3m') format('woff'),
        url('//d36dd6wez3mcdh.cloudfront.net/_static/fonts/victorious/victorious.svg?-er7c3m#victorious') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="vic-"], [class*=" vic-"] {

    display: inline-block;
    font-family: victorious;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
