$fa-font-path: '//d36dd6wez3mcdh.cloudfront.net/_static/fonts/fontawesome';
@import "../fontawesome/font-awesome";
.vic-webplayer-backward-02:before {
  content: "\e600";
}
.vic-webplayer-forward-01:before {
  content: "\e601";
}
.vic-ballistics-monkey:before {
  content: "\e602";
}
.vic-ballistics-wasted:before {
  content: "\e603";
}
.vic-ballistics-eightbitjoey:before {
  content: "\e604";
}
.vic-ballistics-wolfie:before {
  content: "\e605";
}
.vic-ballistics-guilty:before {
  content: "\e606";
}
.vic-ballistics-notguilty:before {
  content: "\e607";
}
.vic-ballistics-douchelamp:before {
  content: "\e608";
}
.vic-ballistics-teehee:before {
  content: "\e609";
}
.vic-ballistics-goalcelebration:before {
  content: "\e60a";
}
.vic-ballistics-shotongoal:before {
  content: "\e60b";
}
.vic-ballistics-xoxo:before {
  content: "\e60c";
}
.vic-ballistics-woot:before {
  content: "\e60d";
}
.vic-ballistics-turntup:before {
  content: "\e60e";
}
.vic-ballistics-noob:before {
  content: "\e60f";
}
.vic-ballistics-ftw:before {
  content: "\e610";
}
.vic-ballistics-gameover:before {
  content: "\e611";
}
.vic-ballistics-epic:before {
  content: "\e612";
}
.vic-ballistics-baus:before {
  content: "\e613";
}
.vic-ballistics-cray:before {
  content: "\e614";
}
.vic-ballistics-dafaq:before {
  content: "\e615";
}
.vic-ballistics-dope:before {
  content: "\e616";
}
.vic-ballistics-bae:before {
  content: "\e617";
}
.vic-ballistics-lol:before {
  content: "\e618";
}
.vic-ballistics-win:before {
  content: "\e619";
}
.vic-arrow-left:before {
  content: "\e61a";
}
.vic-arrow-up:before {
  content: "\e61b";
}
.vic-arrow-down:before {
  content: "\e61c";
}
.vic-arrow-right:before {
  content: "\e61d";
}
.vic-usage-analytics:before {
  content: "\e61e";
}
.vic-ban-user:before {
  content: "\e61f";
}
.vic-unban-user:before {
  content: "\e620";
}
.vic-long-arrow-right:before {
  content: "\e621";
}
.vic-long-arrow-left:before {
  content: "\e622";
}
.vic-comment:before {
  content: "\e623";
}
.vic-file-video:before {
  content: "\e624";
}
.vic-file-image:before {
  content: "\e625";
}
.vic-internal:before {
  content: "\e626";
}
.vic-content-analytics:before {
  content: "\e627";
}
.vic-user-cv:before {
  content: "\e628";
}
.vic-plus-light:before {
  content: "\e629";
}
.vic-minus-light:before {
  content: "\e62a";
}
.vic-close-light:before {
  content: "\e62b";
}
.vic-check-light:before {
  content: "\e62c";
}
.vic-close-square:before {
  content: "\e62d";
}
.vic-check-square:before {
  content: "\e62e";
}
.vic-gauge:before {
  content: "\e62f";
}
.vic-list:before {
  content: "\e630";
}
.vic-image:before {
  content: "\e631";
}
.vic-overall-content:before {
  content: "\e632";
}
.vic-movie:before {
  content: "\e633";
}
.vic-video-light:before {
  content: "\e634";
}
.vic-mic:before {
  content: "\e635";
}
.vic-external:before {
  content: "\e636";
}
.vic-remix:before {
  content: "\e637";
}
.vic-repost2:before {
  content: "\e638";
}
.vic-repost:before {
  content: "\e639";
}
.vic-paintbrush:before {
  content: "\e63a";
}
.vic-calendar3:before {
  content: "\e63b";
}
.vic-megaphone:before {
  content: "\e63c";
}
.vic-paint:before {
  content: "\e63d";
}
.vic-person:before {
  content: "\e63e";
}
.vic-phone2:before {
  content: "\e63f";
}
.vic-document:before {
  content: "\e640";
}
.vic-calendar2:before {
  content: "\e641";
}
.vic-upload:before {
  content: "\e642";
}
.vic-download:before {
  content: "\e643";
}
.vic-clock:before {
  content: "\e644";
}
.vic-refresh:before {
  content: "\e645";
}
.vic-wave:before {
  content: "\e646";
}
.vic-logo_text:before {
  content: "\e647";
}
.vic-logo_full:before {
  content: "\e648";
}
.vic-logo_v:before {
  content: "\e649";
}
.vic-gificon:before {
  content: "\e64a";
}
.vic-plussign:before {
  content: "\e64b";
}
.vic-collapse_icon:before {
  content: "\e64c";
}
.vic-expand_icon:before {
  content: "\e64d";
}
.vic-settings2:before {
  content: "\e64e";
}
.vic-community-analytics-thick:before {
  content: "\e64f";
}
.vic-phone-thin:before {
  content: "\e650";
}
.vic-eye:before {
  content: "\e651";
}
.vic-community-analytics-thin:before {
  content: "\e652";
}
.vic-download2:before {
  content: "\e653";
}
.vic-video:before {
  content: "\e654";
}
.vic-social:before {
  content: "\e655";
}
.vic-moderation:before {
  content: "\e656";
}
.vic-logo_full_retro:before {
  content: "\e657";
}
.vic-logo_txt_retro:before {
  content: "\e658";
}
.vic-logo_v_retro:before {
  content: "\e659";
}
.vic-phone:before {
  content: "\e65a";
}
.vic-adjustments:before {
  content: "\e65b";
}
.vic-hourglass:before {
  content: "\e65c";
}
.vic-profile-male:before {
  content: "\e65d";
}
.vic-profile-female:before {
  content: "\e65e";
}
.vic-bar:before {
  content: "\e65f";
}
.vic-airplane:before {
  content: "\e660";
}
.vic-folder:before {
  content: "\e661";
}
.vic-home:before {
  content: "\e662";
}
.vic-star:before {
  content: "\e663";
}
.vic-circle:before {
  content: "\e664";
}
.vic-smartphone:before {
  content: "\e665";
}
.vic-loader2:before {
  content: "\e666";
}
.vic-loader3:before {
  content: "\e667";
}
.vic-loader4:before {
  content: "\e668";
}
.vic-loader5:before {
  content: "\e669";
}
.vic-loader6:before {
  content: "\e66a";
}
.vic-plus:before {
  content: "\e66b";
}
.vic-minus:before {
  content: "\e66c";
}
.vic-check:before {
  content: "\e66d";
}
.vic-close:before {
  content: "\e66e";
}
.vic-loader:before {
  content: "\e66f";
}
.vic-exit:before {
  content: "\e670";
}
.vic-settings:before {
  content: "\e671";
}
.vic-checklist:before {
  content: "\e672";
}
.vic-camera3:before {
  content: "\e673";
}
.vic-upload2:before {
  content: "\e674";
}
.vic-user:before {
  content: "\e675";
}
.vic-users:before {
  content: "\e676";
}
.vic-eye-blocked:before {
  content: "\e677";
}
.vic-exit2:before {
  content: "\e678";
}
.vic-webplayer-backward:before {
  content: "\e679";
}
.vic-webplayer-forward:before {
  content: "\e67a";
}
.vic-calendar:before {
  content: "\e67b";
}
.vic-exclamation:before {
  content: "\e67c";
}
.vic-monetization:before {
  content: "\e67d";
}
.vic-link:before {
  content: "\e67e";
}
.vic-droplet:before {
  content: "\e67f";
}
.vic-rocket:before {
  content: "\e680";
}
.vic-info:before {
  content: "\e681";
}
