$grey1 : #464646;
$grey2 : #666666;
$grey3 : #828383;
$grey4 : #CDCDCD;
$grey5 : #EAEAEA;
$grey6 : #e7e7e7;
$grey7 : #f8f8f8;

$blue:                  #2E8BCC;
$green:                 #339933;
$red:                   #E51400;
$yellow:                #ffc40d;
$pinker:                #E671B8;
$pink:                  #ed1e67;
$purple:                #7B4F9D;
$lime:                  #8CBF26;
$magenta:               #FF0097;
$teal:                  #00ABA9;
$white:                 #FFFFFF;

// Flat colors
// Reference: http://flatuicolors.com/
// -------------------------
$turquoise:             #1abc9c;
$green-sea:             #16a085;
$emerald:               #5cb85c;
$nephritis:             #27ae60;
$peter-river:           #3498db;
$belize-hole:           #2980b9;
$amethyst:              #9b59b6;
$wisteria:              #8e44ad;
$wet-asphalt:           #34495e;
$midnight-blue:         #2c3e50;
$sun-flower:            #f1c40f;
$orange:                #f39c12;
$carrot:                #e67e22;
$pumpkin:               #d35400;
$alizarin:              #e74c3c;
$pomegranate:           #c0392b;
$clouds:                #ecf0f1;
$silver:                #bdc3c7;
$concrete:              #95a5a6;
$asbestos:              #7f8c8d;

$brand-success:         $emerald;
$brand-info:            $peter-river;
$brand-warning:         $sun-flower;
$brand-danger:          $alizarin;

$greyBorder: #cccccc;
$siteaccentDark: #005473;
$siteaccentLight: #5fd4ff;

//--APP--
$footerHeight: 30px;
$alertHeight: 50px;
$appbg: #ecebeb;
$maincolor: $pink;


$ufc-red: #770308;
$ufc-red-bright: #D0111B;
$ufc-gray: #ccc;