@mixin btn($bgcolor, $fontcolor, $font-size, $border_width, $bordercolor, $bgcolor_over, $fontcolor_over, $bordercolor_over, $padding_vert, $padding_hor, $anim_speed, $radius:"")
{
    @if ($radius != ""){
        @include border-radius($radius);
    }

    border-width: $border_width;
    border-style: solid;
    border-color: $bordercolor;
    padding: $padding_vert $padding_hor;
    font-size: $font-size;
    @include transition(all $anim_speed);
    color: $fontcolor;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color:$bgcolor;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

    &:hover
    {
        color:$fontcolor_over;
        background-color:$bgcolor_over;
        border-color: $bordercolor_over;
        text-decoration: none;
    }

    &:active, &:focus, &:visited
    {
        @if ($radius != ""){
            @include border-radius($radius);
        }

        border-width: $border_width;
        border-style: solid;
        border-color: $bordercolor;
        padding: $padding_vert $padding_hor;
        font-size: $font-size;
        @include transition(all $anim_speed);
        color: $fontcolor;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        background-color:$bgcolor;
        text-align: center;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none;

        &:hover
        {
            color:$fontcolor_over;
            background-color:$bgcolor_over;
            border-color: $bordercolor_over;
            text-decoration: none;

        }
    }
}

@mixin pillbtn($color, $bordercolor:"", $radius:""){

    @if ($bordercolor != ""){
        border: 1px solid $bordercolor;
    } @else {
        border: 1px solid $color;
    }

  @if ($radius != ""){
    @include border-radius($radius);
  } @else {
    @include border-radius(40px);
  }
    
    padding: 10px 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    @include transition(background-color .3s);
    color: $color;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color:white;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

    &:hover
    {
        color:white;
        background-color:$color;
        text-decoration: none;
    }

    &:active, &:focus
    {
        text-decoration: none;
        color: $color;
        outline: none;

        &:hover
        {
            color:white;
            background-color:$color;
            text-decoration: none;

        }
    }
}

@mixin pillbtnsmall($color, $font-size, $bordercolor:"", $radius:""){

  @if ($bordercolor != ""){
    border: 1px solid $bordercolor;
  } @else {
    border: 1px solid $color;
  }

  @if ($radius != ""){
    @include border-radius($radius);
  } @else {
    @include border-radius(10px);
  }

  padding: 5px 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: $font-size;
  @include transition(background-color .3s);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $color;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;

  &:hover
  {
    color:$color;
    background-color:white;
    text-decoration: none;
  }

  &:active, &:focus
  {
    text-decoration: none;
    color: white;
    outline: none;

    &:hover
    {
      color:white;
      background-color:$color;
      text-decoration: none;

    }
  }
}


@mixin pillbtnsmallinvert($color, $font-size, $bordercolor:"", $radius:""){

  @if ($bordercolor != ""){
    border: 1px solid $bordercolor;
  } @else {
    border: 1px solid $color;
  }

  @if ($radius != ""){
    @include border-radius($radius);
  } @else {
    @include border-radius(10px);
  }

  padding: 5px 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: $font-size;
  @include transition(background-color .3s);
  color: $color;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: white;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;

  &:hover
  {
    color:white;
    background-color:$color;
    text-decoration: none;
  }

  &:active, &:focus
  {
    text-decoration: none;
    color: $color;
    outline: none;

    &:hover
    {
      color:white;
      background-color:$color;
      text-decoration: none;

    }
  }
}

@mixin pillbtnprimary($color, $bordercolor:"", $radius:""){


    @if ($bordercolor != ""){
        border: 1px solid $bordercolor;
    } @else {
        border: 1px solid $color;
    }

  @if ($radius != ""){
    @include border-radius($radius);
  } @else {
    @include border-radius(40px);
  }
    
    padding: 10px 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    @include transition(background-color .3s);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color:$color;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

    &:hover
    {
        color:$color;
        background-color:white;
        text-decoration: none;
    }

    &:active, &:focus
    {
        text-decoration: none;
        color: white;
        outline: none;

        &:hover
        {
            color:$color;
            background-color:white;
            text-decoration: none;

        }
    }
}

@mixin pillbtnprimarysmall($color, $font-size, $bordercolor:"", $radius:""){


  @if ($bordercolor != ""){
    border: 1px solid $bordercolor;
  } @else {
    border: 1px solid $color;
  }

  @if ($radius != ""){
    @include border-radius($radius);
  } @else {
    @include border-radius(10px);
  }

  padding: 5px 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: $font-size;
  @include transition(background-color .3s);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color:$color;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;

  &:hover
  {
    color:$color;
    background-color:white;
    text-decoration: none;
  }

  &:active, &:focus
  {
    text-decoration: none;
    color: white;
    outline: none;

    &:hover
    {
      color:$color;
      background-color:white;
      text-decoration: none;

    }
  }
}

@mixin btn($bgcolor, $fontcolor, $font-size, $border_width, $bordercolor, $bgcolor_over, $fontcolor_over, $bordercolor_over, $padding_vert, $padding_hor, $anim_speed, $radius:"")
{
    @if ($radius != ""){
        @include border-radius($radius);
    }

    border-width: $border_width;
    border-style: solid;
    border-color: $bordercolor;
    padding: $padding_vert $padding_hor;
    font-size: $font-size;
    @include transition(all $anim_speed);
    color: $fontcolor;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color:$bgcolor;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

    &:hover
    {
        color:$fontcolor_over;
        background-color:$bgcolor_over;
        border-color: $bordercolor_over;
        text-decoration: none;
    }

    &:active, &:focus
    {
        text-decoration: none;
        color: $fontcolor;
        outline: none;

        &:hover
        {
            color:$fontcolor_over;
            background-color:$bgcolor_over;
            border-color: $bordercolor_over;
            text-decoration: none;

        }
    }
}


.detail-btn
{
    @include pillbtnprimarysmall(#999999, 8px, #999999, 5px);
    i
    {
        font-size: 12px;
    }
}

.vic-btn
{
    @include pillbtn($pink);
}

.vic-cancel-button
{
    @include pillbtn(#999999);
}

.vic-cancel-button-small
{
    @include pillbtnsmallinvert(#999999, 10px, #999999, 5px);
    i
    {
        font-size: 11px;
        color: $teal;
    }

    &:hover
    {
        i
        {
            color: white;
        }
    }
}

.vic-btn-primary
{
    @include pillbtnprimary($pink);
}

.vic-btn-secondary
{
    @include pillbtnprimary($gray);
}

.vic-btn-primary-small
{
    @include pillbtnprimarysmall($pink, 10px, $pink, 5px);
    i
    {
        font-size: 11px;
    }
}

.vic-btn-secondary-small
{
    @include pillbtnprimarysmall($gray, 10px, $gray, 5px);
    i
    {
        font-size: 11px;
    }
}

.vic-btn-small-invert
{
    @include pillbtnsmallinvert($pink, 10px, $pink, 5px);
    i
    {
        font-size: 11px;
    }
}

