@mixin btn($bgcolor, $fontcolor, $font-size, $border_width, $bordercolor, $bgcolor_over, $fontcolor_over, $bordercolor_over, $padding_vert, $padding_hor, $anim_speed, $radius:"")
{
    @if ($radius != ""){
        @include border-radius($radius);
    }

    border-width: $border_width;
    border-style: solid;
    border-color: $bordercolor;
    padding: $padding_vert $padding_hor;
    font-size: $font-size;
    @include transition(all $anim_speed);
    color: $fontcolor;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color:$bgcolor;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

    &:hover
    {
        color:$fontcolor_over;
        background-color:$bgcolor_over;
        border-color: $bordercolor_over;
        text-decoration: none;
    }

    &:active, &:focus, &:visited
    {
        @if ($radius != ""){
            @include border-radius($radius);
        }

        border-width: $border_width;
        border-style: solid;
        border-color: $bordercolor;
        padding: $padding_vert $padding_hor;
        font-size: $font-size;
        @include transition(all $anim_speed);
        color: $fontcolor;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        background-color:$bgcolor;
        text-align: center;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none;

        &:hover
        {
            color:$fontcolor_over;
            background-color:$bgcolor_over;
            border-color: $bordercolor_over;
            text-decoration: none;

        }
    }
}
